.m-index {
  .bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
  }

  .u-title {
    position: relative;

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      // width: 610px;
      height: 281px;
      // background-image: url('https://yuheng-1258939225.cos.ap-guangzhou.myqcloud.com/driver/img-home-cover.png');
      background-image: url('./../../assets/index/banner.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
